﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

}
.navbar-inverse {
    background-color: #2d1450 !important;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

}
.jumbotron {
    background-color: #ECE9F0;

}
.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 20px;
    line-height: 20px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}  
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
