﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Yahoo! Finance</h1>
    <p class="lead">Yahoo! Finance is a media property that is part of Yahoo!'s network. It provides financial news,
        data and commentary including stock quotes, press releases, financial reports, and original content.
    </p>
    <p><a href="http://localhost:51957/Home/RunScraper" class="btn btn-primary btn-lg">Run Scraper &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Web Scraping</h2>
        <p>
            Web Scraping (also termed Screen Scraping, Web Data Extraction, Web Harvesting etc.) 
            is a technique employed to extract large amounts of data from websites whereby the
            data is extracted and saved to a local file in your computer or to a database in
            table (spreadsheet) format.
        </p>
        <p><a class="btn btn-default" href="https://www.seleniumhq.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Unit testing</h2>
        <p>UNIT TESTING is a level of software testing where individual units/ components of 
            a software are tested. The purpose is to validate that each unit of the software
            performs as designed. A unit is the smallest testable part of any software.
            It usually has one or a few inputs and usually a single output.
        </p>
        <p><a class="btn btn-default" href="https://www.seleniumhq.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Selenium</h2>
        <p>What is Selenium? Selenium automates browsers. That's it! What you do with that power
            is entirely up to you. Primarily, it is for automating web applications
            for testing purposes, but is certainly not limited to just that. Boring
            web-based administration tasks can (and should!) be automated as well.
            </p>
        <p><a class="btn btn-default" href="https://www.seleniumhq.org/">Learn more &raquo;</a></p>
    </div>
</div>