﻿
@{
    ViewBag.Title = "ViewChart";
}

<div>
    <hr />
    <div id="chartContainer"></div>
</div>

@section scripts
{
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

    <script>
        var result = @Html.Raw(ViewBag.DataPoints);
        console.log(result);
        var dataPoints =[];
        for(var i = 0; i < result.length; i++){
            dataPoints.push({label:result[i].TimeOfExtraction, y:result[i].DayGainUSD});
        }

        window.onload = function() {
            var chart = new CanvasJS.Chart("chartContainer", {
                theme: "theme2",
                zoomEnabled: true,
                animationEnabled: true,
                title: {
                    text: "Chart of TimeOfExtraction and DayGainUSD"
                },
                data: [
                {
                    type: "line",
                    dataPoints: dataPoints
                }
                ]
            });
            chart.render();
        }

    </script>
}
