﻿@model IEnumerable<MVCScraper.Models.Selenium.PortfolioState>

@{
    ViewBag.Title = "Historical";
}

<div>
    <hr />
    <table class="table datatable">
        <thead>
            <tr>
                <th>Time of Extraction</th>
                <th>Current Market Value</th>
                <th>Day Gain USD</th>
                <th>Day Gain Percent</th>
                <th>Total Gain USD</th>
                <th>Total Gain Percent</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
            {
                <tr>
                    <td>@item.TimeOfExtraction</td>
                    <td>@item.CurrentMarketValue</td>
                    <td>@item.DayGainUSD</td>
                    <td>@item.DayGainPercent</td>
                    <td>@item.TotalGainUSD</td>
                    <td>@item.TotalGainPercent</td>
                    <td><a href="~/Home/ViewSnapshot/@item.Id" class="btn btn-primary">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section css {
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
}

@section scripts {
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
    <script>
        $(document).ready(function () {
            $(".datatable").DataTable();
        });
    </script>
}