﻿@model MVCScraper.Models.Selenium.PortfolioState

@{
    ViewBag.Title = "ViewSnapshot";
}

<div>
    <h2>PortfolioState</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>Time of Extraction</dt>
        <dd>@Model.TimeOfExtraction</dd>
        <dt>Current Market Value</dt>
        <dd>@Model.CurrentMarketValue</dd>
        <dt>Day Gain USD</dt>
        <dd>@Model.DayGainUSD</dd>
        <dt>Day Gain Percent</dt>
        <dd>@Model.DayGainPercent</dd>
        <dt>Total Gain USD</dt>
        <dd>@Model.TotalGainUSD</dd>
        <dt>Total Gain Percent</dt>
        <dd>@Model.TotalGainPercent</dd>
    </dl>
    <hr />
    <table class="table datatable">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Current Price</th>
                <th>Price Change Dollars</th>
                <th>Price Change Percent</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model.StocksState)
            {
                <tr>
                    <td>@item.Symbol</td>
                    <td>@item.CurrentPrice</td>
                    <td>@item.PriceChangeDollars</td>
                    <td>@item.PriceChangePercent</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section css {
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
}

@section scripts {
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
    <script>
        $(document).ready(function () {
            $(".datatable").DataTable();
        });
    </script>
}